*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.align{
    align-items: center;
}
.justify{
    justify-content: space-between;
}
header{
    background-color: #000;
}
.logo {
    padding: 20px 0;
}
.logo img{
    width: 60%;
    display: block;
}
.list ul li{
    display: inline-block;
}

.list ul li a{
    padding: 0 10px;
    color: #FFF;
    font-size: 20px
    
}
.list ul li a button {
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid #FFF;
    color: #fff;
    
}
.list ul li a button:hover{
    border: 2px solid red;
}
